body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

#map {
	height: 100%;
	width: 100%;
}

.tg {
	border-collapse: collapse;
	border-color: #ccc;
	border-spacing: 0;
}

.tg td {
	background-color: #fff;
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
	color: #333;
	font-family: Arial, sans-serif;
	font-size: 14px;
	overflow: hidden;
	word-break: normal;
}

.tg th {
	background-color: #f0f0f0;
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
	color: #333;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	overflow: hidden;
	word-break: normal;
}

.tg .tg-0lax {
	text-align: left;
	vertical-align: top;
}

.tg2 {
	border-collapse: collapse;
	border-color: #ccc;
	border-spacing: 0;
	width: 273px;
}

.tg2 td {
	background-color: #fff;
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
	color: #333;
	font-family: Arial, sans-serif;
	font-size: 14px;
	overflow: hidden;
	word-break: normal;
}

.tg2 th {
	background-color: #f0f0f0;
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
	color: #333;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	overflow: hidden;
	word-break: normal;
}

.tg2 .tg-0lax {
	text-align: left;
	vertical-align: top;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

#legenda {
	position: absolute;
	left: 10px;
	bottom: 10px;
}

#aviso {
	background-color: #ffffff;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	border-radius: 12px;
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1.5;
	display: none;
}
#aviso-conteudo {
	margin: 20px;
}

#load {
	background-color: #ffffff;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	display: none;
	border-radius: 12px;
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1.5;
}

#load-conteudo {
	margin: 20px;
}

#telaerro {
	background-color: #ffffff;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
	border-radius: 12px;
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1.5;
}

#telaerro-conteudo {
	margin: 20px;
}